ADDRESS=0x000000000dead
FACILITATOR_URL=https://facilitator.artlu.xyz
FACILITATOR_BEARER=
# required if using Coinbase's Base mainnet facilitator
CDP_API_KEY_ID=your-api-key-id
CDP_API_KEY_SECRET=your-api-key-secret