@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: silk --default, dark --prefersdark, all;
}

body {
  background-color: #f0f0f0;
  color: #111827;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100vh;
}

.prose {
  color: #111827;
}

.prose a {
  color: #111827;
  text-decoration: underline;
  text-decoration-color: #111827;
  text-decoration-thickness: 2px;
  text-decoration-style: solid;
}

.prose a:hover {
  color: #4f46e5;
}